<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1><%= @pirate.name %></h1>
  <ul>
    <li>Weight: <%= @pirate.weight %></li>
    <li>Height: <%= @pirate.height %></li>
  </ul>

  <% @ships.each do |ship_hash| %>
    <h2>Ship Name: <%= ship_hash.name %></h2>
    <p>Type: <%= ship_hash.type %></p>
    <p>Booty: <%= ship_hash.booty %></p>
  <% end %>
</body>
</html>
