<h1>Display your Pirate here</h1>
<p> name:<%=@pirate.name%></p>
<p> weight:<%=@pirate.weight%></p>
<p> height:<%=@pirate.height%></p>


<h2>Display your first ship here</h2>
<p> Ship1:<%=@ships.first.name%></p>
<p> Ship1:<%=@ships.first.type%></p>
<p> Ship1:<%=@ships.first.booty%></p>

<h2>Display your second ship here</h2>
<p> Ship2:<%=@ships.last.name%></p>
<p> Ship2:<%=@ships.last.type%></p>
<p> Ship2:<%=@ships.last.booty%></p>
