<h1>Display your Pirate here</h1>
<div><%= @pirate.name %></div>
<div><%= @pirate.weight %></div>
<div><%= @pirate.height %></div>


<h2>Display your first ship here</h2>
<div><% @ships.each do |ship| %></div>
<div><%= ship.name %></div>
<div><%= ship.type %></div>
<div><%= ship.booty %></div>
<div><% end %></div>
