<h1>Display your Pirate here</h1>
<div><%= @pirate.name %></div>
<div><%= @pirate.height %></div>
<div><%= @pirate.weight %></div>


<h2>Display your first ship here</h2>
<div><% counter = 0 %></div>
<div><% @ship.each do |ship| %></div>
<div><%= "ship: #{counter += 1}" %></div>
  <div><%= ship.name %></div>
  <div><%= ship.type %></div>
  <div><%= ship.booty %></div>
<div><% end %></div>


<h2>Display your second ship here</h2>
